/* Обнуляющий стиль */
@import "null.css";
/* ================================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
/* ================================================================================================== */
.button {
	display: inline-block;
	font-weight: 700;
	font-size: 12px;
	line-height: 2;
	text-align: center;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	background: #F2726F;
	padding: 9px 35px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.button:hover {
	background: #99110e;
}
.button:active {
	background: #574545;
}
/* ================================================================================================== */
/* =========================================== Оболочка ======================================================= */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 0px 15px;
}
/* =========================================== Оболочка ======================================================= */
/* =========================================== Ограничивающий контейнер ======================================================= */
[class*="__container"] {
	max-width: 1000px;
	margin: 0 auto;
}
/* =========================================== Ограничивающий контейнер ======================================================= */
/* ================================================================================================== */

.make-an-appointment {
	font-family: "Roboto", sans-serif; 
	margin: 0px auto;
	max-width: 585px;
	background: #5D62B5;
   border-radius: 40px;
	padding: 76px 58px;
}
.make-an-appointment__title {
	font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   color: #FFFFFF;
	margin: 0px 0px 43px 0px;
}
.make-an-appointment__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.make-an-appointment__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	row-gap: 22px;
	flex: 0 1 48px;
}
.make-an-appointment__line:not(:last-child) {
	margin: 0px 0px 22px 0px;
}
.make-an-appointment__input {
	background: #5D62B5;
	border: 2px solid rgb(255, 255, 255, 0.8);
	border-radius: 10px;
	flex: 0 1 224px;
	padding: 16px 24px;
}
.make-an-appointment__input:focus {
	outline: none;
}
.make-an-appointment__input::placeholder {
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: rgb(255, 255, 255, 0.8);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.make-an-appointment__input:focus::placeholder {
	opacity: 0;
}
.make-an-appointment__select {
	appearance: none;
	background: #5D62B5;
	border: 2px solid rgb(255, 255, 255, 0.8);
	border-radius: 10px;
	flex: 0 1 224px;
	padding: 16px 24px;
	color: rgb(255, 255, 255, 0.8);
}
.make-an-appointment__select:focus{
	outline: none;
}
.make-an-appointment__textarea {
	flex: 0 1 170px;
	max-width: 470px;
}
.make-an-appointment__textarea:not(:last-child) {
	margin: 0px 0px 30px 0px;
}
.textarea {
	width: 100%;
	height: 100%;
	resize: none;
	border: 2px solid #FFFFFF;
   border-radius: 10px;
	background: #5D62B5;
	padding: 17px 23px;
}
.textarea:focus {
	outline: none;
}
.textarea::placeholder {
   font-family: "Roboto", sans-serif;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: rgb(255, 255, 255, 0.8);
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.textarea:focus::placeholder {
	opacity: 0;
}
.make-an-appointment__button {
	align-self: flex-end;
}
.button-make-an-appointment {
	cursor: pointer;
}
/* ================================================================================================== */
/* ================================================================================================== */
.registered-customers {
	font-family: "Poppins", sans-serif;
	max-width: 564px;
	margin: 0 auto;
	background: #F5F7FF;
	padding: 40px 57.5px;
}
.registered-customers__title {
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   color: #000000;
	margin: 0px 0px 11px 0px;
}
.registered-customers__text {
	font-weight: 300;
   font-size: 14px;
   line-height: 2.14;
   color: #000000;
	margin: 0px 0px 7px 0px;
}
.registered-customers__form {
	display: flex;
	flex-direction: column;
}
.registered-customers__lines {
	margin: 0px 0px 30.47px 0px;
}
.registered-customers__line {
	display: flex;
	flex-direction: column;
}
.registered-customers__line:not(:last-child) {
	margin: 0px 0px 6.12px 0px;
}
.registered-customers__label {
	font-weight: 600;
   font-size: 13px;
   line-height: 2.1;
   color: #000000;
	cursor: pointer;
}
.registered-customers__symbol {
	color: #C94D3F;
}
.registered-customers__input {
	background: #FFFFFF;
   border: 1px solid #A2A6B0;
   border-radius: 4px;
	flex: 0 1 50px;
	padding: 0px 17px;
}
.registered-customers__input::placeholder {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
   font-size: 14px;
   line-height: 1.43;
   color: #A2A6B0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.registered-customers__input:focus::placeholder {
	opacity: 0;
}
.registered-customers__links {
	display: flex;
	column-gap: 23px;
}
.registered-customers__button {
	background: #0156FF;
   border-radius: 50px;
	font-weight: 600;
   font-size: 14px;
   line-height: 1.5;
   text-align: center;
   color: #FFFFFF;
	padding: 17px 54px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.registered-customers__button:hover {
	background: #7089b0;

}
.registered-customers__link {
	font-size: 14px;
   line-height: 1.43;
   color: #0156FF;
	background: #F5F7FF;
	cursor: pointer;
	flex: 0 1 159px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.registered-customers__link:hover {
	text-decoration: underline;
}
/* ================================================================================================== */
/* ================================================================================================== */
.input-summary {
   background: #FFFFFF;
	border: 1px solid #A2A6B0;
   border-radius: 4px;
	flex: 0 1 50px;
	padding: 0px 17px;
}
.summary {
	font-family: "Poppins", sans-serif;
	background: #F5F7FF;
	padding: 17.51px 30px 29px 30px;
	max-width: 446px;
	margin: 0 auto;
}
.summary__form {
	display: flex;
	flex-direction: column;
}
.summary__title {
	font-weight: 600;
   font-size: 24px;
   line-height: 1.5;
	margin: 0px 0px 18.57px 0px;
}
.summary__subtitle {
	font-size: 18px;
   line-height: 1.5;
	margin: 0px 0px 12.43px 0px;
	cursor: pointer;
	position: relative;
}
.summary__subtitle::after {
	content: "";
	background: url(../img/arrow.svg) no-repeat;
	position: absolute;
	top: 7px;
	right: 0px;
	width: 6px;
	height: 5px;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}
.summary__subtitle:active::after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.summary__text {
	font-size: 14px;
   line-height: 1.5;
   color: #666666;
	max-width: 287px;
	margin: 0px 0px 12.43px 0px;
}
.summary__line {
	display: flex;
	flex-direction: column;
	margin: 0px 0px 10px 0px;
}
.summary__line_arrow {
	position: relative;
}
.summary__line_arrow::after {
	content: "";
	background: url(../img/arrow.svg) no-repeat;
	position: absolute;
	top: 53px;
	right: 20px;
	width: 6px;
	height: 5px;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-ms-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
}
.summary__line_arrow:active::after {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
.summary__line_margin-01 {
	margin: 0px 0px 17.06px 0px;
}
.summary__line_margin-02 {
	margin: 0px 0px 27px 0px;
}
.summary__line_margin-03 {
	margin: 0px 0px 19px 0px;
}
.summary__label {
	font-weight: 600;
   font-size: 13px;
   line-height: 2.1;
	margin: 0px 0px 3px 0px;
	cursor: pointer;
}
.summary__select {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
   line-height: 1.43;
   color: #000000;
	appearance: none;
}
.summary__item {
	display: flex;
	column-gap: 8px;
	cursor: pointer;
}
.summary__radio {
	flex: 0 1 21px;
	transform: scale(1.615,1.615);
	cursor: pointer;
}
.radio-text {
	font-size: 14px;
   line-height: 1.43;
	flex: 0 1 356px;
	align-self:flex-start;
}
.summary__input::placeholder {
	font-family: "Poppins", sans-serif;
   font-size: 14px;
   line-height: 1.43;
   color: #A2A6B0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.summary__input:focus::placeholder {
	opacity: 0;
}
.summary__button {
	font-weight: 600;
	font-size: 14px;
	line-height: 1.5;
	text-align: center;
	color: #0156FF;
	border: 2px solid #0156FF;
	box-sizing: border-box;
	border-radius: 50px;
	cursor: pointer;
	background: transparent;
	padding: 10px 0px;
	cursor: pointer;
	transition: all 0.1s ease 0s;
	-webkit-transition: all 0.1s ease 0s;
	-moz-transition: all 0.1s ease 0s;
	-ms-transition: all 0.1s ease 0s;
	-o-transition: all 0.1s ease 0s;
}
.summary__button:hover {
	background-color: #0156FF;
	color: #F5F7FF;
}
/* ================================================================================================== */
/* ================================================================================================== */